<?xml version="1.0"?>
<!--
/**
 * @category   Codaone
 * @package    Codaone_Magento2-logtrail-module
 * @author     rolf@codaone.fi
 * @website    https://github.com/Codaone/magento2_logitrail_module
 * @license    MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <logitrail>
                <active>1</active>
                <model>Codaone\LogitrailModule\Model\Carrier\LogitrailCarrier</model>
                <title>Logitrail</title>
                <name>Logitrail</name>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </logitrail>
        </carriers>
    </default>
</config>
