<?xml version="1.0"?>
<!--
/**
 * @category   Codaone
 * @package    Codaone_Magento2-logtrail-module
 * @author     rolf@codaone.fi
 * @website    https://github.com/Codaone/magento2_logitrail_module
 * @license    MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codaone_LogitrailModule" setup_version="2.0.0">
    </module>
</config>
